<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script>
        if (typeof(Storage) !== "undefined") {
            if(localStorage.getItem('dark_mode') && localStorage.getItem('dark_mode') == 'true'){
                document.documentElement.classList.add('dark');
            }
        }
    </script>
    
    <style>
        .prose img{
            border-radius: 20px;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <script src="//unpkg.com/alpinejs" defer></script>
    {tailwindcss}
</head>
<body class="antialiased bg-white dark:bg-neutral-950">
    <include src="square-lines.html"></include>
    <include src="header.html"></include>
    {slot}
    <include src="footer.html"></include>
    <script src="/assets/js/main.js"></script>
</body>
</html>