<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600700&display=swap" rel="stylesheet">
    <style>
        .custom-font {
            font-family: 'Poppins', sans-serif;
        }
        .prose img{
            border-radius: 20px;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <script src="//unpkg.com/alpinejs" defer></script>
    {tailwindcss}
</head>
<body class="antialiased">
    <include src="square-lines.html"></include>
    <include src="header.html"></include>
    {slot}
    <include src="footer.html"></include>
    <script src="/assets/js/main.js"></script>
</body>
</html>